

body {
  display: flex;
  justify-content: center;
}

.container {
  min-width: 1360px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  .logo {
    img {
      height: 80px;
    }
  }
  .user {
    button {
      font-size: 20px;
    }
  }
}

#search-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}

.trip-wrapper {
  .trip-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
  }
  .trip-items {
    .trip {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 90%;
      margin: auto;
      .trip-left, .trip-right {
        display: flex;
        justify-content: space-between;
        width: 45%;
      }
    }
  }
  .trip-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: auto;
  }
}

fieldset {
  border: none;
  padding: 15px;
}
